<h3>Users</h3>
<ul class="users">
    <% @users.each do |user| %>
        <li><%= user.name %>, joined on <%= user.created_at.to_date %></li>
    <% end %>
</ul>
<%= link_to 'Home', root_path, :class => 'btn'%>