<% if user_signed_in? %>
    <h4>Welcome!</h4>
    <p>View Active Polls</p>
    <p>Create a Poll</p>
    <p>View Your Polls</p>
<% else %>
    <p>You are not logged in.</p>
    <p>Please login or sign up.</p>
<% end %>